@import "../../_settings.scss";

body#services {
	section.services {
		padding: em(40) 0 0;
		width: 100%;
		background: #fff url('/img/index/services/services-bg-detail.jpg') no-repeat left bottom;
		background-size: auto;

		.row#row-title {
			margin-bottom: em(50);
		}

		.package-plan {
			background: #fff;
			border: em(3) solid #000;
			box-shadow: $z-2;
			position: relative;

			h3 {
				padding: rem(12) 0;
				color: #fff;
				margin: 0;
			}

			p {
				padding: rem(8) 0;
				width: 100%;
				color: #fff;
				margin: rem(12) 0 0;

				@include breakpoint(medium) {
					font-size: rem(25);
				}
			}

			ul.accordion {
				list-style-type: none;
				margin: 0;
				padding: rem(16) rem(8);

				li {
					letter-spacing: rem(1.5);

					a {
						border: 0;
						background: none;
						font-size: rem(16);
						text-decoration: underline;
						letter-spacing: 0;
						padding: 0 rem(16); 
						margin-bottom: rem(8);

						&:hover {
							text-decoration: none;
						}
					}

					@include breakpoint(medium) {
						font-size: rem(25);
					}

					.accordion-content {
						padding: 0 rem(12) rem(12);
						margin-bottom: rem(12);

						@include breakpoint(medium) {
							font-size: rem(20);
						}
					}
				}
			}
		}

		.package-plan#premium {
			border-color: #0EA6D7;

			h3,
			p {
				background-color: #0EA6D7;
			}
		}
	}
}


