@import "../../_settings.scss";

body#index {
	section.about {
		padding: em(40) 0 0;
		height: em(840);
		width: 100%;
		background: #fff url('/img/index/about/about-bg.jpg') no-repeat left bottom;
		background-size: contain;
	}
}




