@import "../../_settings.scss";

body#index {
	section.about {
		padding: rem-calc(100) 0 rem-calc(40);
		height: rem-calc(750);
		width: 100%;
		background: #000 url('/img/index/about/about-bg.jpg') no-repeat center center;
		background-size: cover;


		@include breakpoint(small only) {
			height: auto;
			padding: rem-calc(40) 0;
			background: #000 url('/img/index/about/about-bg@small.jpg') no-repeat center center;
			background-size: cover;
		}

		h2 {
			color: #fff;
			text-shadow: 0 rem-calc(4) rem-calc(5) #000;

			span {
				background: rgba(0,0,0,0.30);
				padding: rem-calc(16) rem-calc(20) rem-calc(12);
			}
		}

		.prose-wrapper {
			background: rgba(0,0,0,0.30);
			max-width: rem-calc(800);
			width: 100%;
			padding: rem-calc(18);

			p {
				color: #fff;
				text-shadow: 0 rem-calc(2) rem-calc(6) #000;
				line-height: 1.3;

				@include breakpoint(medium) {
					font-size: rem-calc(24);
				}
			}
		}
	}
}

