@import '../../_settings.scss';

body#index {
	section.photo-gallery {
		padding: rem-calc(40) 0 rem-calc(60);
		border-bottom: rem-calc(30) solid #000;
		width: 100%;
		background: #000 url('/img/index/gallery/gallery-bg.jpg') no-repeat center center;
		background-size: cover;


		@include breakpoint(small only) {
			height: auto;
			padding: rem-calc(40) 0;
			background: #000 url('/img/index/gallery/gallery-bg@small.jpg') no-repeat center center;
			background-size: cover;
		}

		h2 {
			color: #fff;
			text-shadow: 0 rem-calc(4) rem-calc(5) #000;
			margin-bottom: rem-calc(30);

			span {
				background: rgba(0,0,0,.30);
				padding: rem-calc(16) rem-calc(20) rem-calc(12);
			}
		}

		.orbit {
			.orbit-container {
				border: rem-calc(4) solid #fff;
				box-shadow: $z-5;
			}
		}
	}
}
