@import '../../_settings.scss';
$max-width-900: 'only screen and (max-width : 900px)';
$max-width-700: 'only screen and (max-width : 700px)';
$max-height-540: 'only screen and (max-height : 540px)';

body#index {
	section.landing {
		width: 100%;
		background: #000 url('/img/index/landing/hero.jpg') no-repeat center center;
		background-size: cover;
		height: 100%;

		@include breakpoint(small only) {
			@media #{$max-height-540} {
				min-height: 200px;
			}
		}

		.absolute-wrapper {
			position: absolute;
			width: 100%;
			z-index: 1;
			top: 48%;

			.prose {
				h1 {
					color: #fff;
					text-shadow: 0 rem-calc(4) rem-calc(5) #000;
				}

				h2 {
					color: #fff;
					text-shadow: 0 rem-calc(4) rem-calc(5) #000;
				}

				@media #{$max-width-900} {
					h1 {
						font-size: 34px;
					}
					h2 {
						font-size: 26px;
					}
				}

				@media #{$max-width-700} {
					h1 {
						font-size: 28px;
					}
					h2 {
						font-size: 22px;
					}
				}
			}
		}

		@include breakpoint(medium) {
			@media #{$max-height-540} {
				min-height: 600px;

				.absolute-wrapper {
					position: absolute;
					top: 280px;
				}
			}
		}
	}
}
