@import "../../_settings.scss";

body#index {
	section.services {
		padding: rem-calc(40) 0;
		width: 100%;
		background: #fff url('/img/index/services/services-bg-detail.jpg') no-repeat left bottom;
		background-size: auto;

		.row#row-title {
			margin-bottom: rem-calc(50);
		}

		.package-plan {
			background: #fff;
			border: rem-calc(15) solid #000;
			box-shadow: $z-3;
			position: relative;
			margin-bottom: rem-calc(45);

			h3 {
				padding: rem-calc(12) 0;
				color: #fff;
				margin: 0;
			}

			p {
				padding: rem-calc(8) 0;
				width: 100%;
				color: #fff;
				margin: rem-calc(12) 0 0;

				@include breakpoint(medium) {
					font-size: rem-calc(25);
				}
			}

			ul.accordion {
				list-style-type: none;
				margin: 0;
				padding: rem-calc(16) rem-calc(8);

				li {
					letter-spacing: rem-calc(1.5);

					@include breakpoint(medium) {
						font-size: rem-calc(25);
					}
				}

				li.accordion-item {
					font-size: inherit;

					.accordion-content {
						padding: rem-calc(12);
						margin-bottom: rem-calc(12);
						border-top: 1px solid #e6e6e6;

						@include breakpoint(medium) {
							font-size: rem-calc(20);
						}

						.widget {
							display: inline-block;

							@include breakpoint(small only) {
								margin-bottom: 16px;
							}

							img.speaker {
								padding-top: 10px;
								height: 200px;
								width: auto;
							}
						}
					}

					a {
						border: 0;
						background: none;
						font-size: rem-calc(16);
						text-decoration: underline;
						letter-spacing: 0;
						padding: 0 rem-calc(16);
						margin-bottom: rem-calc(8);

						display: initial;
						line-height: 1;

						&:hover {
							text-decoration: none;
						}
					}

					a::before {
						right: 0;
					}
				}
			}
		}

		.package-plan#premium {
			border-color: #0EA6D7;


			h3,
			p {
				background-color: #0EA6D7;
			}
		}

		.package-plan#deluxe {
			border-color: #99CE57;


			h3,
			p {
				background: #99CE57;
			}
		}

		.package-plan#ultra {
			border-color: #BA43F0;

			h3,
			p {
				background: #BA43F0;
			}
		}

		a#pdf-link {
			box-shadow: $z-2;
			border-radius: rem-calc(1);

			&:hover {
				box-shadow: $z-1;
			}
		}
	}
}


