@import "../../_settings.scss";

$min-840: "only screen and (min-width : 52.500em)";

body#index {
	section.services {
		padding: em(40) 0 0;
		width: 100%;
		background: #fff url('/img/index/services/services-bg-detail.jpg') no-repeat left bottom;
		background-size: auto;

		.row#row-title {
			margin-bottom: em(50);
		}

		.row.packages {
			.package {
				margin-bottom: em(35);
				background: #fff;
				box-shadow: $z-2;
				border: em(3) solid #000;
				position: relative;

				p {
					position: absolute;
					bottom: 0;
					padding: rem(8) 0;
					width: 100%;
					color: #fff;
					margin: 0;

					@include breakpoint(medium) {
						font-size: rem(25);
					}
				}

				h3 {
					padding: rem(12) 0;
					color: #fff;
					margin: 0;
				}

				ul.deets {
					list-style-type: none;
					margin: 0;
					padding: rem(16) rem(8);

					li {
						letter-spacing: rem(1.5);

						@include breakpoint(medium) {
							font-size: rem(25);
						}
					}
				}
			}

			.package#premium {
				border-color: #0EA6D7;
				min-height: em(530);

				h3,
				p {
					background: #0EA6D7;
				}
			}

			.package#deluxe {
				border-color: #99CE57;
				min-height: em(530);

				h3,
				p {
					background: #99CE57;
				}
			}

			.package#ultra {
				border-color: #BA43F0;

				@media #{$min-840} {
					min-height: em(450);
				}

				min-height: em(500);

				h3,
				p {
					background: #BA43F0;
				}
			}
		}
	}
}


