<header data-sticky-container>
	<nav class="sticky" data-sticky data-margin-top="0" id="top-bar-nav">
		<div>
			<a class="show-for-small-only" href="/"><img srcset="/img/assets/logo/200x/esp-logo@2x.png 2x" src="/img/assets/logo/200x/esp-logo.png" alt="Essential Sound Production Logo"></a>
			<a class="logo hide-for-small-only" href="/"><img srcset="/img/assets/logo/300x/esp-logo@2x.png 2x" src="/img/assets/logo/300x/esp-logo.png" alt="Essential Sound Production Logo"></a>
			<ul class="menu expanded text-center" data-magellan>
				<li>&nbsp;</li>
				<li><a href="#services-section">SERVICES</a></li>
				<li><a href="#about-section">ABOUT</a></li>
				<li><a href="#contact-section">CONTACT</a></li>
			</ul>
		</div>
	</nav>
</header>