@import '../_settings.scss';

header {
	#logo-wrapper {
		position: fixed;
		z-index: 500;

		img {
			max-width: 70px;
			padding: 4px 0 0 10px;
		}
	}
}

@include breakpoint(medium) {
	header {
		#logo-wrapper.shrunk {
			img {
				transform: translateY(0px);
				max-width: 70px;
			}
		}
	}
}

@include breakpoint(medium) {
	/* uncss:ignore start */
	header {
		#logo-wrapper {
			@include horizontal-center;
			position: fixed;
			z-index: 500;

			img {
				transform: translateY(18px);
				transition-property: max-width;
				transition-duration: .2s;
				max-width: 200px;
				padding: 0;
			}
		}
	}
	/* uncss:ignore end */
}
