@import "../_settings.scss";

.title-bar,
#top-bar-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #000;
}

.title-bar {
	z-index: 200;
	text-align: right;
	padding: rem(12);
	box-shadow: $z-2;

	.title-bar-title {
		letter-spacing: rem(1.5);
		font-size: rem(18);
		font-weight: inherit;
	}
}

#top-bar-nav {
	z-index: 100;
}

.custom-dropdown-pane.dropdown-pane {
	background-color: none;
	border: none;
	padding: 0;
	width: 100% !important;
	left: 0 !important;
	top: 49px;
	box-shadow: $z-2;

	@include breakpoint(medium) {
		visibility: visible !important;
		top: 0 !important;;
	}
}

.dropdown-pane#hidden-menu {
	display: none;
	visibility: hidden;
}




nav {
	// height: em(80);
	// background: #000;

	@include breakpoint(medium) {
		height: 70px;
		overflow: hidden;
		background: #000;
	}

	ul.menu {
		// background: #000;

		// box-shadow: 0 em(1) em(4) 0 rgba(0,0,0,0.37);
		// height: em(80);

		li {
			vertical-align: top;
			// padding-top: rem(28);

			// @include breakpoint(medium) {
			// 	height: 70px;
			// 	overflow: hidden;
			// }

			a {
				padding: rem(24) 0;
				font-size: rem(22);
				color: #fff;
				letter-spacing: rem(1.5);

				@include breakpoint(small only) {
					font-size: rem(18);
					padding: rem(18);
				}
			}

			a:hover {
				background: #f1f1f1;
				color: #000;
			}

			@include breakpoint(small only) {
				a:focus {
					background: #f1f1f1;
					color: #000;
				}
			}
		}

		li.logo {
			padding-top: rem(16);
			
			img {
				max-width: 250px;
				width: 100%;
				height: auto;
			}
		}
	}
}